/* global background color fix */
.gbl-bg {
	background-color: #38c;
	border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059;
}

.content-wrapper, .content-wrapper div.iscroll-scroller {
	width: 100% !important;
}
/* Top search section */
.top-search {
	float: left;
	width: calc(100% - 40px);
}

.top-search-btn {
	float: left;
	margin-left: 6px;
	margin-top: 3px;
}

.clear {
	clear: both;
}
/* Side panel menu section */
.movie-menu {
	margin: 0;
	padding-bottom: 18px;
}
/* movie list image fix */
.mvl-img-fix img {
	max-height: inherit !important;
}

#show-mv-img h2 {
	margin-top: 0;
}

#show-mv-img,
.show-mv-info li {
	text-align: center !important;
	white-space:normal !important;
}

.no-result-found {
	display: none;
	text-align: center;
	padding-top: 70px;
}

/* Swipe works with mouse as well but often causes text selection. */
/* We'll deny text selecton on everything but INPUTs and TEXTAREAs. */
#demo-page :not(INPUT):not(TEXTAREA) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* Content styling. */
dl { font-family: "Times New Roman", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }
.back-btn { float: right; margin: 0 2em 1em 0; }